{% extends "layout.html" %}
{% block content %}
<div class="col-md-12">
  <button type="button" id="tooglebtn" class="btn btn-success">
    Copy
  </button>
</div>
<div class="col-md-12">
  <form method="POST" action="">
    <legend class="border-bottom mb-4">{{ projects[job.pid].name }}: {{ job.arguments['experiment'] }}</legend>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Inputs</th>
                <th scope="col">Targets</th>
                {% for metric in job['results'].keys() %}
                <th scope="col">{{ metric }}</th>
                {% endfor %}
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <th scope="col"></th>
                <td></td>
                <td>Mean</td>
                {% for metric in means.keys() %}
                <td>{{ means[metric] }}</td>
                {% endfor %}
          </tr>
          {% for i in job.arguments['index'] %}
          <tr>
              <th scope="col">{{ i }}</th>
              <td>{{ job.arguments['pinputs'][i] }}</td>
              <td>{{ job.arguments['poutputs'][i] }}</td>
              {% for metric in job['results'].keys() %}
              <td>{{ job['results'][metric][i+1] }}</td>
              {% endfor %}
          </tr>
          {% endfor %}
      </tbody>
    </table>
    
    <p>User: {{ job.user }}</p>
  </form>
</div>


{% endblock content %}