{% extends "layout.html" %}
{% block content %}
<div class="col-md-12">
    {% if exp_queue==False %}  
    <button type="button" id="tooglebtn" class="btn btn-success">
      Start Queue
    </button>
    {% else %}
    <button type="button" id="tooglebtn" class="btn btn-danger">
      Stop Queue
    </button>
  {% endif %}
</div>

{% if started %}
<div class="col-md-12">
    <div class="col-md-12">
        <legend class="mb-4">Running</legend>
    </div>
    <div class="list-group">
    {% for expid,job in started.items() %}
    <div class="btn-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Job: {{ job.arguments['experiment'] }}</h5>
        <small>{{ job.date }}</small>
      </div>
      <div class="d-flex w-100 justify-content-between">
          <small>Project: {{ projects[job.pid].name }}</small>
          <small>Dataset: {{ job.arguments['dataset'] }}</small>
          <small>Model: {{ job.arguments['model'] }}</small>
          <small>Loss: {{ job.arguments['loss'] }}</small>
          <small>Optimizer: {{ job.arguments['optimizer'] }}</small>
          <small>Epochs: {{ job.arguments['epochs'] }}</small>
          <small>Batch Size: {{ job.arguments['batch_size'] }}</small>
          <small>User: {{ job.user }}</small>
      </div>
    </a>
    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{url_for('killstarted',pid=expid)}}">Stop</a>
      </div>
  </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if jobs %}
<div class="col-md-12">
    <div class="col-md-12">
        <legend class="mb-4">Queued</legend>
    </div>
    <div class="list-group">
    {% for expid,job in jobs.items() %}
    <div class="btn-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Job: {{ job.arguments['experiment'] }}</h5>
          <small>{{ job.date }}</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <small>Project: {{ projects[job.pid].name }}</small>
            <small>Dataset: {{ job.arguments['dataset'] }}</small>
            <small>Model: {{ job.arguments['model'] }}</small>
            <small>Loss: {{ job.arguments['loss'] }}</small>
            <small>Optimizer: {{ job.arguments['optimizer'] }}</small>
            <small>Epochs: {{ job.arguments['epochs'] }}</small>
            <small>Batch Size: {{ job.arguments['batch_size'] }}</small>
            <small>User: {{ job.user }}</small>
        </div>
      </a>
      <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Clone</a>
          <a class="dropdown-item" href="#">Update</a>
          <a class="dropdown-item" href="#">Up</a>
          <a class="dropdown-item" href="#">Down</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{url_for('rmqueued',pid=expid)}}">Remove</a>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if error %}
<div class="col-md-12">
    <div class="col-md-12">
        <legend class="mb-4">Error</legend>
    </div>
    <div class="list-group">
    {% for expid,job in error.items() %}
    <div class="btn-group">
    <a href="{{ url_for('enqueue',pid=expid) }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Job: {{ job.arguments['experiment'] }}</h5>
          <small>{{ job.date }}</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <small>Project: {{ projects[job.pid].name }}</small>
            <small>Dataset: {{ job.arguments['dataset'] }}</small>
            <small>Model: {{ job.arguments['model'] }}</small>
            <small>Loss: {{ job.arguments['loss'] }}</small>
            <small>Optimizer: {{ job.arguments['optimizer'] }}</small>
            <small>Epochs: {{ job.arguments['epochs'] }}</small>
            <small>Batch Size: {{ job.arguments['batch_size'] }}</small>
            <small>User: {{ job.user }}</small>
        </div>
    </a>
    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('enqueue',pid=expid) }}">Enqueue</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{url_for('rmerror',pid=expid)}}">Remove</a>
      </div>
  </div>
    {% endfor %}
  </div>
</div>
{% endif %}
   
{% if done %}
<div class="col-md-12">
    <div class="col-md-12">
        <legend class="mb-4">Done</legend>
    </div>
    <div class="list-group">
    {% for expid,job in done.items() %}
    <div class="btn-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Job: {{ job.arguments['experiment'] }}</h5>
          <small>{{ job.date }}</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <small>Project: {{ projects[job.pid].name }}</small>
            <small>Dataset: {{ job.arguments['dataset'] }}</small>
            <small>Model: {{ job.arguments['model'] }}</small>
            <small>Loss: {{ job.arguments['loss'] }}</small>
            <small>Optimizer: {{ job.arguments['optimizer'] }}</small>
            <small>Epochs: {{ job.arguments['epochs'] }}</small>
            <small>Batch Size: {{ job.arguments['batch_size'] }}</small>
            <small>User: {{ job.user }}</small>
        </div>
    </a>
    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Clone</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{url_for('rmdone',pid=expid)}}">Remove</a>
      </div>
  </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock content %}


{% block script %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript">
  var socket = io.connect('http://' + document.domain + ':' + location.port);
  socket.on( 'job complete', function( msg ) {
    console.log( msg )
    window.location.replace('http://' + document.domain + ':' + location.port + '/experiment/start');
  })
</script>

<script type="text/javascript">
  document.getElementById("tooglebtn").onclick = function () {
    window.location.replace('http://' + document.domain + ':' + location.port + '/experiment/toogle_queue');
  };
</script>
{% endblock script%}