{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
<div class="btn-group" role="group" aria-label="GPUs"> 
    {% if exp_queue==False %}  
    <button type="button" id="tooglebtn" class="btn btn-success">
      Start Queue
    </button>
    {% else %}
    <button type="button" id="tooglebtn" class="btn btn-danger">
      Stop Queue
    </button>
  {% endif %}
{% for gpu,tgpu in tuse_gpu.items() %}
{% if tgpu==True %}  
<a class="btn btn-success btn-sm" href="/experiment/toogle_gpu/{{ gpu }}">
  <div><i class="fa fa-check-square-o" style="font-size:1.5em;"></i>
  <small>{{ gpu }}</small></div>
</a>
{% else %}
<a class="btn btn-success btn-sm" href="/experiment/toogle_gpu/{{ gpu }}">
  <div><i class="fa fa-square-o" style="font-size:1.5em;"></i>
  <small>{{ gpu }}</small></div>
</a>
{% endif %}
{% endfor %}
</div>
</div>
</div>

{% if started %}
<div class="col-md-12">
    <div class="col-md-12">
        <legend class="mb-4">Running</legend>
    </div>
    <div class="list-group">
    {% for expid,job in started.items() %}
    <div class="btn-group">
    <a href="/experiment/details_run/{{ expid }}" style="border-radius: 4px 0px 0px 4px;" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Job: {{ job.arguments['experiment'] }}</h5>
        <div class="w-50 progress progress-striped active">
            {% if job['valid']==False %}
        <div class="progress-bar bg-success" role="progressbar" style="width:{{ job['progress']|round|int }}%" aria-valuenow="{{ job['progress']  }}" aria-valuemin="0" aria-valuemax="100">
            {{ job['progress'] }}
        </div>
        {% else %}
        <div class="progress-bar bg-danger" role="progressbar" style="width:{{ job['progress']|round|int }}%" aria-valuenow="{{ job['progress']  }}" aria-valuemin="0" aria-valuemax="100">
            {{ job['progress'] }}
        </div>
        {% endif %}
        </div>
        <small>{{ job.sdate }}</small>
      </div>
      <div class="d-flex w-100 justify-content-between">
          <small>Project: {{ projects[job.pid].name }}</small>
          
          {% if job['test']=='True' %}
            <small>{{ job.arguments['inputsarg'] }}: {{ job.arguments['pathinputs'] }}</small>
            {% if job['metric']=='False' %}
              <small>{{ job.arguments['modelarg'] }}: {{ job.arguments['model'] }}</small>
              <small>{{ job.arguments['outputsarg'] }}: {{ job.arguments['outputs'] }}</small>
            {% else  %}
              <small>{{ job.arguments['outputsarg'] }}: {{ job.arguments['pathoutputs'] }}</small>
            {% endif %}
            <small>{{ job.arguments['otherarg'] }}</small>
          {% else %}
            <small>Dataset: {{ job.arguments['dataset'] }}</small>
            <small>Model: {{ job.arguments['model'] }}</small>
            <small>Loss: {{ job.arguments['loss'] }}</small>
            <small>Optimizer: {{ job.arguments['optimizer'] }}</small>
            <small>Epochs: {{ job.arguments['epochs'] }}</small>
            <small>Batch Size: {{ job.arguments['batch_size'] }}</small>
          {% endif %}
          <small>User: {{ job.user }}</small>
      </div>
    </a>
    {% if job['test']=='True' %}
    {% if job['metric']=='False' %}
    <a class="btn btn-success btn-sm" href="/test/clone_run/{{ expid }}">
    {% else %}
    <a class="btn btn-success btn-sm" href="/metric/clone_run/{{ expid }}">
    {% endif %}
    {% else %}
    <a class="btn btn-success btn-sm" href="/experiment/clone_run/{{ expid }}">
    {% endif %}
      <div><i class="fa fa-clone" style="font-size:1.5em;"></i></div>
      <div><small>clone</small></div>
    </a>
    <a class="btn btn-danger btn-sm" href="{{url_for('killstarted',pid=expid)}}">
      <div><i class="fa fa-stop" style="font-size:1.5em;"></i></div>
      <div><small>stop</small></div>
    </a>
  </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if jobs %}
<div class="col-md-12">
    <div class="col-md-12">
        <legend class="mb-4">Queued</legend>
    </div>
    <div class="list-group">
    {% for expid,job in jobs.items() %}
    <div class="btn-group">
    <a href="/experiment/details_queue/{{ expid }}" style="border-radius: 4px 0px 0px 4px;" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <div class="row">
            {% if job['available']=='False' %}
            <i class="fa fa-exclamation-triangle" style="font-size:1.5em;" data-toggle="tooltip" data-placement="bottom" title="Experiment locked. Click update and confirm the settings to unlock."></i>
            {% endif %}
          <h5 class="mb-1">Job: {{ job.arguments['experiment'] }}</h5>
          </div>
          <small>{{ job.date }}</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <small>Project: {{ projects[job.pid].name }}</small>
            
            {% if job['test']=='True' %}
              <small>{{ job.arguments['inputsarg'] }}: {{ job.arguments['pathinputs'] }}</small>
              {% if job['metric']=='False' %}
                <small>{{ job.arguments['modelarg'] }}: {{ job.arguments['model'] }}</small>
                <small>{{ job.arguments['outputsarg'] }}: {{ job.arguments['outputs'] }}</small>
              {% else  %}
                <small>{{ job.arguments['outputsarg'] }}: {{ job.arguments['pathoutputs'] }}</small>
              {% endif %}
            <small>{{ job.arguments['otherarg'] }}</small>
            {% else %}
              <small>Dataset: {{ job.arguments['dataset'] }}</small>
              <small>Model: {{ job.arguments['model'] }}</small>
              <small>Loss: {{ job.arguments['loss'] }}</small>
              <small>Optimizer: {{ job.arguments['optimizer'] }}</small>
              <small>Epochs: {{ job.arguments['epochs'] }}</small>
              <small>Batch Size: {{ job.arguments['batch_size'] }}</small>
            {% endif %}
            <small>User: {{ job.user }}</small>
        </div>
      </a>
      {% if job['test']=='True' %}
      {% if job['metric']=='False' %}
      <a class="btn btn-success btn-sm" href="/test/clone_queue/{{ expid }}">
        {% else %}
    <a class="btn btn-success btn-sm" href="/metric/clone_queue/{{ expid }}">
    {% endif %}
      {% else %}
      <a class="btn btn-success btn-sm" href="/experiment/clone_queue/{{ expid }}">
      {% endif %}
        <div><i class="fa fa-clone" style="font-size:1.5em;"></i></div>
        <div><small>clone</small></div>
      </a>
      {% if job['test']=='True' %}
      {% if job['metric']=='False' %}
      <a class="btn btn-success btn-sm" href="/test/update_queue/{{ expid }}">
        {% else %}
        <a class="btn btn-success btn-sm" href="/metric/update_queue/{{ expid }}">
        {% endif %}  
      {% else %}
      <a class="btn btn-success btn-sm" href="/experiment/update_queue/{{ expid }}">
      {% endif %}
        <div><i class="fa fa-pencil-square-o" style="font-size:1.5em;"></i></div>
        <div><small>update</small></div>
      </a>
      <div>
        <div>
          <a class="btn btn-success" style="border-radius: 0;" href="{{url_for('up',pid=expid)}}">
          <i class="fa fa-caret-up" style="font-size:1em;"></i>
          </a>
       </div>
        <div>
          <a class="btn btn-success" style="border-radius: 0;" href="{{url_for('down',pid=expid)}}">
          <i class="fa fa-caret-down" style="font-size:1em;"></i>
          </a>
        </div>
      </div>
      <a class="btn btn-danger btn-sm" href="/experiment/remove_queue/{{ expid }}">
        <div><i class="fa fa-trash" style="font-size:1.5em;"></i></div>
        <div><small>remove</small></div>
      </a>
      
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if error %}
<div class="col-md-12">
    <div class="col-md-12">
        <legend class="mb-4">Error</legend>
    </div>
    <div class="list-group">
    {% for expid,job in error.items() %}
    <div class="btn-group">
    <a href="/experiment/details_error/{{ expid }}" style="border-radius: 4px 0px 0px 4px;" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Job: {{ job.arguments['experiment'] }}</h5>
          <small>{{ job.date }}</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <small>Project: {{ projects[job.pid].name }}</small>
            {% if job['test']=='True' %}
              <small>{{ job.arguments['inputsarg'] }}: {{ job.arguments['pathinputs'] }}</small>
              {% if job['metric']=='False' %}
                <small>{{ job.arguments['modelarg'] }}: {{ job.arguments['model'] }}</small>
                <small>{{ job.arguments['outputsarg'] }}: {{ job.arguments['outputs'] }}</small>
              {% else  %}
                <small>{{ job.arguments['outputsarg'] }}: {{ job.arguments['pathoutputs'] }}</small>
              {% endif %}
              <small>{{ job.arguments['otherarg'] }}</small>
            {% else %}
              <small>Dataset: {{ job.arguments['dataset'] }}</small>
              <small>Model: {{ job.arguments['model'] }}</small>
              <small>Loss: {{ job.arguments['loss'] }}</small>
              <small>Optimizer: {{ job.arguments['optimizer'] }}</small>
              <small>Epochs: {{ job.arguments['epochs'] }}</small>
              <small>Batch Size: {{ job.arguments['batch_size'] }}</small>
            {% endif %}
            <small>User: {{ job.user }}</small>
        </div>
    </a>
    <a class="btn btn-success btn-sm" href="{{ url_for('enqueue',pid=expid) }}">
      <div><i class="fa fa-check" style="font-size:1.5em;"></i></div>
      <div><small>enqueue</small></div>
    </a>
    {% if job['test']=='True' %}
    {% if job['metric']=='False' %}
    <a class="btn btn-success btn-sm" href="/test/clone_error/{{ expid }}">
      {% else %}
    <a class="btn btn-success btn-sm" href="/metric/clone_error/{{ expid }}">
    {% endif %}
    {% else %}
    <a class="btn btn-success btn-sm" href="/experiment/clone_error/{{ expid }}">
    {% endif %}
      <div><i class="fa fa-clone" style="font-size:1.5em;"></i></div>
      <div><small>clone</small></div>
    </a>
    {% if job['test']=='True' %}
    {% if job['metric']=='False' %}
    <a class="btn btn-success btn-sm" href="/test/update_error/{{ expid }}">
      {% else %}
        <a class="btn btn-success btn-sm" href="/metric/update_error/{{ expid }}">
        {% endif %}  
    {% else %}
    <a class="btn btn-success btn-sm" href="/experiment/update_error/{{ expid }}">
    {% endif %}
      <div><i class="fa fa-pencil-square-o" style="font-size:1.5em;"></i></div>
      <div><small>update</small></div>
    </a>
    <a class="btn btn-danger btn-sm" href="/experiment/remove_error/{{ expid }}">
      <div><i class="fa fa-trash" style="font-size:1.5em;"></i></div>
      <div><small>remove</small></div>
    </a>
  </div>
    {% endfor %}
  </div>
</div>
{% endif %}
   
{% if done %}
<div class="col-md-12">
    <div class="col-md-12">
        <legend class="mb-4">Done</legend>
    </div>
    <div class="list-group">
    {% for expid,job in done.items() %}
    <div class="btn-group">
    <a href="/experiment/details_done/{{ expid }}" style="border-radius: 4px 0px 0px 4px;" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Job: {{ job.arguments['experiment'] }}</h5>
          <small>{{ job.date }}</small>
          <small>{{ job.sdate }}</small>
          <small>{{ job.ddate }}</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <small>Project: {{ projects[job.pid].name }}</small>
            {% if job['test']=='True' %}
              <small>{{ job.arguments['inputsarg'] }}: {{ job.arguments['pathinputs'] }}</small>
              {% if job['metric']=='False' %}
                <small>{{ job.arguments['modelarg'] }}: {{ job.arguments['model'] }}</small>
                <small>{{ job.arguments['outputsarg'] }}: {{ job.arguments['outputs'] }}</small>
              {% else  %}
                <small>{{ job.arguments['outputsarg'] }}: {{ job.arguments['pathoutputs'] }}</small>
              {% endif %}
              <small>{{ job.arguments['otherarg'] }}</small>
            {% else %}
              <small>Dataset: {{ job.arguments['dataset'] }}</small>
              <small>Model: {{ job.arguments['model'] }}</small>
              <small>Loss: {{ job.arguments['loss'] }}</small>
              <small>Optimizer: {{ job.arguments['optimizer'] }}</small>
              <small>Epochs: {{ job.arguments['epochs'] }}</small>
              <small>Batch Size: {{ job.arguments['batch_size'] }}</small>
            {% endif %}
            <small>User: {{ job.user }}</small>
        </div>
    </a>
    {% if job['test']=='True' %}
    {% if job['metric']=='False' %}
    <a class="btn btn-success btn-sm" href="/test/metric/{{ expid }}">
      <div><i class="fa fa-balance-scale" style="font-size:1.5em;"></i></div>
      <div><small>metric</small></div>
    </a>
    <a class="btn btn-success btn-sm" href="/test/clone_done/{{ expid }}">
      {% else %}
      <a class="btn btn-success btn-sm" href="/metric/result/{{ expid }}">
        <div><i class="fa fa-table" style="font-size:1.5em;"></i></div>
        <div><small>result</small></div>
      </a>
    <a class="btn btn-success btn-sm" href="/metric/clone_done/{{ expid }}">
    {% endif %}
    {% else %}
    <a class="btn btn-success btn-sm" href="/experiment/test/{{ expid }}">
      <div><i class="fa fa-cube" style="font-size:1.5em;"></i></div>
      <div><small>test</small></div>
    </a>
    <a class="btn btn-success btn-sm" href="/experiment/clone_done/{{ expid }}">
    {% endif %}
      <div><i class="fa fa-clone" style="font-size:1.5em;"></i></div>
      <div><small>clone</small></div>
    </a>
    <a class="btn btn-danger btn-sm" href="/experiment/remove_done/{{ expid }}">
      <div><i class="fa fa-trash" style="font-size:1.5em;"></i></div>
      <div><small>remove</small></div>
    </a>
  </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock content %}


{% block script %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

<script type="text/javascript">
  var socket = io.connect('http://' + document.domain + ':' + location.port);
  var sneaky = new ScrollSneak(location.hostname)
  socket.on( 'job complete', function( msg ) {
    console.log( msg )
    sneaky.sneak()
    window.location.replace('http://' + document.domain + ':' + location.port + '/experiment/start');
  })
</script>

<script type="text/javascript">
  document.getElementById("tooglebtn").onclick = function () {
    window.location.replace('http://' + document.domain + ':' + location.port + '/experiment/toogle_queue');
  };
</script>
{% endblock script%}